@use '../../../../../styles/variables';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: variables.$secondary-color;
  box-shadow: variables.$shadow;

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 1rem;
  }
}

.logo {
  display: flex;
  align-items: center;

  app-logo {
    /* Adicione estilos de background para o logo se necessário */
    background-color: variables.$secondary-color;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

  &-text {
    color: variables.$primary-color;
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.nav-links {
  display: flex;
  gap: 1.5rem;

  @media (max-width: 768px) {
    margin: 1rem 0;
  }

  a {
    color: variables.$text-light;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: variables.$primary-color;
    }
  }
}

.auth-buttons {
  display: flex;
  gap: 1rem;
}
