$secondary-color: #1a3668;
$primary-color: #ff6b1c;
$secondary-dark: #12264a;
$primary-dark: #e05000;
$secondary-light: #4a6798;
$primary-light: #ff9661;
$text-light: #f8f9fa;
$text-dark: #cbd5e1;
$shadow: rgba(26, 54, 104, 0.2);
$active: rgba(74, 108, 247, 0.15)
