$primary-color: #1a3668;
$secondary-color: #ff6b1c;
$primary-dark: #12264a;
$secondary-dark: #e05000;
$primary-light: #4a6798;
$secondary-light: #ff9661;
$text-light: #f8f9fa;
$shadow: rgba(26, 54, 104, 0.2);
